*{
    box-sizing: border-box;
}
body{
    margin : 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
    color:whitesmoke
}

.project-title{
    padding: 0;
    font-size: 2rem;
    margin:.5rem;
    color:white;
    text-decoration: none;
}
.auto-pic{
    float: left;
    position: relative;
    margin-right: auto;
}
.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links Li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: red;
}

